@model IEnumerable<Log>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">Log List</h2>
        </div>
    </div>
</div>
<br />
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Log/Index?page=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize">Previous</a>
                </li>
            }

            @if (ViewBag.CurrentPage > 2)
            {
                <li class="page-item">
                    <a class="page-link" href="/Log/Index?page=1&pageSize=@ViewBag.PageSize">1</a>
                </li>
                @if (ViewBag.CurrentPage > 3)
                {
                    <li disabled class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
            }

            @for (int i = Math.Max(1, ViewBag.CurrentPage - 1); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 1); i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Log/Index?page=@i&pageSize=@ViewBag.PageSize">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
            {
                @if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
                {
                    <li disabled class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="/Log/Index?page=@ViewBag.TotalPages&pageSize=@ViewBag.PageSize">@ViewBag.TotalPages</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Log/Index?page=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize">Next</a>
                </li>
            }

        </ul>
    </nav>
</div>

<div class="container">
    <form method="get" action="@Url.Action("Index", "Log")">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchQuery" placeholder="Search User Log">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Log Date
            </th>
            <th>
                Log Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in ViewBag.Logs)
        {
            <tr>
                <td width="10%">
                    @obj.LogUser
                </td>
                <td width="10%">
                    @obj.LogTime
                </td>
                <td width="70%">
                    @obj.LogMessage
                </td>
            </tr>
        }

    </tbody>
</table>
